{% extends 'layouts/base.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}Project Flowers{% endblock %}
{% block meta_description %}Explore over hundreds of vinyl floorings from dozens of suppliers all on a single platform!{% endblock %}

{% block body %}

<!-- Banner's style -->
<style>
.bannercontainer {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textshadow {
  text-shadow: 2px 2px 4px #000000;
}

</style>
<div class="row">
  <div class="container" align="center">
      <!-- Banner -->
      <div class="bannercontainer">
        <img src="{{ url_for('static', filename='images/assets/others/banner3.png') }}" alt="Snow" style="width:100%;">
        <div class="centered">
          <h1 class="textshadow">Let us help you search for the perfect floor!</h1>
          <p>We are a vinyl flooring search engine.</p>
        </div>
      </div>

      <!-- Gallery should start here? -->
      <!-- Photo Grid -->
      <!-- Script for gallery -->
      <script>
      // Get the elements with class="column"
      var elements = document.getElementsByClassName("column");

      // Declare a loop variable
      var i;

      </script>
      <!-- End of js -->
      <!-- import css -->
      <style>
      * {
        box-sizing: border-box;
      }


      .header {
        text-align: center;
        padding: 32px;
      }

      .row {
        display: -ms-flexbox; /* IE 10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE 10 */
        flex-wrap: wrap;
        padding: 0 4px;
      }

      /* Create two equal columns that sits next to each other */
      .column {
        -ms-flex: 25%; /* IE 10 */
        flex: 25%;
        padding: 0 4px;
      }

      .column img {
        margin-top: 8px;
        vertical-align: middle;
      }

      /* Style the buttons */
      .btn {
        border: none;
        outline: none;
        padding: 10px 16px;
        background-color: #f1f1f1;
        cursor: pointer;
        font-size: 18px;
      }

      .btn:hover {
        background-color: #ddd;
      }

      .btn.active {
        background-color: #666;
        color: white;
      }

      /*Gallery thumbnail*/
      * {box-sizing: border-box;}
        
      .overlay {
        position: absolute; 
        bottom: 0; 
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5); /* Black see-through */
        color: #f1f1f1; 
        width: 100%;
        transition: .5s ease;
        opacity:0;
        color: white;
        font-size: 20px;
        padding: 10px;
        text-align: center;
      }

      .containerimg {
        position: relative;
        width: 50%;
        max-width: 300px;
      }

      .containerimg:hover .overlay {
        opacity: 1;
      }

      .image {
        display: block;
        width: 100%;
        height: auto;
      }

      .bold {
        font-weight:bold;
      }

      .textpadding {
        padding: 50px;
      }

      .uploadbutton {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 10px 132px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }

      .uploadbutton:hover {
        background-color: #3e8e41;
      }

      </style>

      <script>
      function formValidation() {
        if(document.getElementById("noimage").value==""||document.getElementById("noimage").value==null)
        {
            alert("No image selected. To proceed, upload an image of a flooring you would like to get more info with!");
        return false;
        }
        else
            return true;
        }
      </script>


      
      <h2 class="bold">Have an image of your ideal flooring?</h2>
      <h4>Just upload it to us and we will match you with the material being used in the image!</h4>
      <h4><font color="#DCDCDC">Upload a floor image here (jpg, jpeg, png)</font></h4>
      
      <br>
      <form action="" method=post enctype=multipart/form-data onSubmit="return formValidation()">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <input type=file name=file id="noimage">
      <br>
     <!--    <input type=submit value=Upload onclick="getcost()"> -->
      <input class="uploadbutton" type=submit value="Find my vinyl now" onclick="getcost()">
      </form>
      <h6 class="text">If you click on 'Identify my vinyl now' above, you agree to our <a href="{{ url_for('page.terms') }}">terms and privacy policies.</a></h6>
      
      <br>
      
      <!-- template should have been here-->
      <hr>

  <style type="text/css">
    .h2padding{
      padding-top: 50px;
      padding-bottom: 10px;
    }
    .howtodesc {
      padding-right: 70px;
      padding-left: 70px;
    }
    .surveypadding {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  </style>

  <div class="container">
    <h2 class="bold h2padding">Here's how we can help.</h2>
    <h4><font color="#DCDCDC">We built tools for your flooring quest.</font></h4>
  </div>
  <br>

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <a href="https://www.google.com/search?tbm=isch&q=beautiful+vinyl+plank+flooring&chips=q:beautiful+vinyl+plank+flooring,g_1:luxury+vinyl&usg=AI4_-kQ9Enx9iyHUxxs7PAwP6gJAEe8ZcQ&sa=X&ved=0ahUKEwiJ9ei7gJ3hAhWq6XMBHY8CC5oQ4lYIKCgA&biw=1366&bih=695&dpr=1" target="_blank"><img src="{{ url_for('static', filename='images/assets/others/how12.png') }}" style="width:50%"></a>
        <h4 align="center"><font color="#DCDCDC">Step 1:</font></h4>
        <h4 class="bold" align="center">Upload</h4>
        <h5 class="howtodesc">Search the perfect floor anywhere from the web and upload it to our platform <a href="#top">above</a>. Or check our gallery.</h5>
      </div>
      <div class="col-sm-4">
        <img src="{{ url_for('static', filename='images/assets/others/how2.png') }}" style="width:50%">
        <h4 align="center"><font color="#DCDCDC">Step 2:</font></h4>
        <h4 class="bold" align="center">Select</h4>
        <h5 class="howtodesc">Select the perfect tile. We analyse and match you with tiles that is being used in your uploaded image.</h5>
      </div>
      <div class="col-sm-4">
        <img src="{{ url_for('static', filename='images/assets/others/how3.png') }}" style="width:50%">
        <h4 align="center"><font color="#DCDCDC">Step 3:</font></h4>
        <h4 class="bold" align="center">Deliver</h4>
        <h5 class="howtodesc">Have the tiles delivered straight to your door step within 3 days. We also provide installers for your convenience.</h5>
      </div>
    </div>
  </div>

  <hr>
  <!-- Survey starts here -->

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <br>
        <br>
        <br>
        <H2 class="h2padding bold">Unsure what colour is suitable for your floor?</H2>
        <h4>Let's find out! Take a survey!</h4>
        <br>
        <br>
        <a class="btn btn-success uploadbutton" role="button" href="{{ url_for('survey.surveys') }}">Take the test</a>
      </div>
      <div class="col-md-8">
        <img src="{{ url_for('static', filename='images/assets/others/slr.png') }}" style="width: 70%;" class="surveypadding">
      </div>      
    </div>    
  </div>
  

      

      <!-- Here are what people are saying about vinyl and laminated -->

      <hr>
      <!-- Start html for gallery -->

      <!-- Header -->
      <div>
        <h2 class="bold h2padding">Identify vinyl tiles through pictures</h1>
        <h4>Try it! Click on any picture below!</h4>
        <!-- <button class="btn" onclick="one()">1</button>
        <button class="btn active" onclick="two()">2</button>
        <button class="btn" onclick="four()">4</button> -->
      </div>
      
      <br>

      <div>
        <div class="row"> 
          <div class="column containerimg">
            <a href="{{ url_for('page.g1') }}"><img src="{{ url_for('static', filename='images/assets/gallery/pick/livingroom/cp.jpg') }}" style="width:100%" alt="Avatar" class="image"></a>
            <!-- <div class="overlay">Living Room</div> -->
            <a href="{{ url_for('page.g2') }}"><img src="{{ url_for('static', filename='images/assets/gallery/pick/livingroom/so.jpg') }}" style="width:100%" alt="Avatar" class="image"></a>
            
            <a href="{{ url_for('page.g3') }}"><img src="{{ url_for('static', filename='images/assets/gallery/pick/livingroom/dc2.jpg') }}" style="width:100%" alt="Avatar" class="image"></a>
            
            
          </div>
          <div class="column containerimg">
            <a href="{{ url_for('page.g4') }}"><img src="{{ url_for('static', filename='images/assets/gallery/pick/kitchen/gb.jpg') }}" style="width:100%" alt="Avatar" class="image"></a>

            <a href="{{ url_for('page.g5') }}"><img src="{{ url_for('static', filename='images/assets/gallery/pick/kitchen/sw.jpg') }}" style="width:100%" alt="Avatar" class="image"></a>

            <a href="{{ url_for('page.g6') }}"><img src="{{ url_for('static', filename='images/assets/gallery/pick/kitchen/eb.jpg') }}" style="height:40.5%" alt="Avatar" class="image"></a>

          </div>  
          
          <div class="column containerimg">
            <a href="{{ url_for('page.g7') }}"><img src="{{ url_for('static', filename='images/assets/gallery/pick/bathroom/ew.jpg') }}" style="width:100%" alt="Avatar" class="image"></a>

            <a href="{{ url_for('page.g8') }}"><img src="{{ url_for('static', filename='images/assets/gallery/pick/bathroom/la.jpg') }}" style="height:55.5%" alt="Avatar" class="image"></a>

          </div>

          <div class="column containerimg">
            <a href="{{ url_for('page.g9') }}"><img src="{{ url_for('static', filename='images/assets/gallery/pick/bedroom/dc.jpg') }}" style="width:100%" alt="Avatar" class="image"></a>

            <a href="{{ url_for('page.g10') }}"><img src="{{ url_for('static', filename='images/assets/gallery/pick/bedroom/ev.jpg') }}" style="width:100%" alt="Avatar" class="image"></a>

            <a href="{{ url_for('page.g8') }}"><img src="{{ url_for('static', filename='images/assets/gallery/pick/bedroom/la.jpg') }}" style="height:40.5%" alt="Avatar" class="image"></a>

          </div>
        </div>

      <!-- Gallery should end here -->
      <!-- Top sellers -->
      <style type="text/css">
        .tabletops {
            border:none;
            border-collapse: collapse;
        }

        .tabletops td {
            border-left: 1px solid #000;
            border-right: 1px solid #000;
            padding: 30px;
        }

        .tabletops td:first-child {
            border-left: none;
        }

        .tabletops td:last-child {
            border-right: none;
        }
      </style>

      <!-- Get months for table -->
      <script type="text/javascript">
        function myFunction() {
          var d = new Date();
          var n = d.getMonth();
          if (n == 0) {
            getthismonth = "January";
          } else if (n == 1) {
            getthismonth = "Febuary";
          } else if (n == 2) {
            getthismonth = "March";
          } else if (n == 3) {
            getthismonth = "April";
          } else if (n == 4) {
            getthismonth = "May";
          } else if (n == 5) {
            getthismonth = "June";
          } else if (n == 6) {
            getthismonth = "July";
          } else if (n == 7) {
            getthismonth = "August";
          } else if (n == 8) {
            getthismonth = "September";
          } else if (n == 9) {
            getthismonth = "October";
          } else if (n == 10) {
            getthismonth = "November";
          } else {
            getthismonth = "December";
          }
          document.getElementById("currentmonth").innerHTML = getthismonth;
          if (n == 0) {
            getlastmonth = "December";
          } else if (n == 1) {
            getlastmonth = "January";
          } else if (n == 2) {
            getlastmonth = "Febuary";
          } else if (n == 3) {
            getlastmonth = "March";
          } else if (n == 4) {
            getlastmonth = "April";
          } else if (n == 5) {
            getlastmonth = "May";
          } else if (n == 6) {
            getlastmonth = "June";
          } else if (n == 7) {
            getlastmonth = "July";
          } else if (n == 8) {
            getlastmonth = "August";
          } else if (n == 9) {
            getlastmonth = "September";
          } else if (n == 10) {
            getlastmonth = "October";
          } else {
            getlastmonth = "November";
          }
          document.getElementById("lastmonth").innerHTML = getlastmonth;
          if (n == 0) {
            getlast2month = "November";
          } else if (n == 1) {
            getlast2month = "December";
          } else if (n == 2) {
            getlast2month = "January";
          } else if (n == 3) {
            getlast2month = "Febuary";
          } else if (n == 4) {
            getlast2month = "March";
          } else if (n == 5) {
            getlast2month = "April";
          } else if (n == 6) {
            getlast2month = "May";
          } else if (n == 7) {
            getlast2month = "June";
          } else if (n == 8) {
            getlast2month = "July";
          } else if (n == 9) {
            getlast2month = "August";
          } else if (n == 10) {
            getlast2month = "September";
          } else {
            getlast2month = "October";
          }
          document.getElementById("last2month").innerHTML = getlast2month;
        }

        window.onload = myFunction;
      </script>

<!--       <p id="demo">

      </p> -->

      <h2 class="bold h2padding">Top 3 best sellers in the past 3 months</h2>
      <h4>These are what the awesome vinyl communities are choosing</h4>
      <h4><font color="#DCDCDC">Click on a tile for more info</font></h4>
      <!--   -->
      <br>
      <div>
        
        <table class="tabletops">
          <tr>
            <th class="text-center">Trending</th>
            <th class="text-center" id="currentmonth"></th>
            <th class="text-center" id="lastmonth"></th>
            <th class="text-center" id="last2month"></th>
          </tr>
          <tr>
            <td>#1</td>
            <td><a href="{{ url_for('tc.trentooak') }}" title="Trento Oak"><img src="{{ url_for('static', filename='images/img/1/trentooak.jpg') }}" style="height:100px; width:100px"></a></td>
            <td><a href="{{ url_for('tc.catalpawood') }}" title="Catalpa Wood"><img src="{{ url_for('static', filename='images/img/4/catalpawood.jpg') }}" style="height:100px; width:100px"></a></td>
            <td><a href="{{ url_for('tc.pratooak') }}" title="Prato Oak"><img src="{{ url_for('static', filename='images/img/1/pratooak.jpg') }}" style="height:100px; width:100px"></a></td>            
          </tr>
          <tr>
            <td>#2</td>
            
            <td><a href="{{ url_for('tc.cherryprunus') }}" title="Cherry Prunus"><img src="{{ url_for('static', filename='images/img/5/cherryprunus.jpg') }}" style="height:100px; width:100px"></a></td>
            <td><a href="{{ url_for('tc.trentooak') }}" title="Trento Oak"><img src="{{ url_for('static', filename='images/img/1/trentooak.jpg') }}" style="height:100px; width:100px"></a></td>
            <td><a href="{{ url_for('tc.francemaple') }}" title="France Maple"><img src="{{ url_for('static', filename='images/img/1/francemaple.jpg') }}" style="height:100px; width:100px"></a></td>
          </tr>
          <tr>
            <td>#3</td>
            <td><a href="{{ url_for('tc.mountainash') }}" title="Mountain Ash"><img src="{{ url_for('static', filename='images/img/6/mountainash.jpg') }}" style="height:100px; width:100px"></a></td>
            <td><a href="{{ url_for('tc.francemaple') }}" title="France Maple"><img src="{{ url_for('static', filename='images/img/1/francemaple.jpg') }}" style="height:100px; width:100px"></a></td>
            <td><a href="{{ url_for('tc.trentooak') }}" title="Trento Oak"><img src="{{ url_for('static', filename='images/img/1/trentooak.jpg') }}" style="height:100px; width:100px"></a></td>
          </tr>
        </table>
      </div>

      <h6 class="textpadding"><font color="#DCDCDC">based on our in-house data from thousands of orders from all suppliers</font></h6>

      <style type="text/css">
        .imgasseen {
          padding-top: 80px;
          padding-bottom: 40px;
        }
      </style>
      <!-- Brands we carry -->
      <h2 class="bold h2padding" align="center">Popular brands</h2>
      <a href="{{ url_for('page.brands') }}"><img class="imgasseen" src="{{ url_for('static', filename='images/assets/brands/allbrands.png') }}"></a>



      
      <h5>Curious for more comparison? Visit our FAQ <a href="{{ url_for('page.general') }}">here</a><h5>
      <br>

      <!-- Top questions ask -->
      <h2 class="bold h2padding">Top 5 frequently asked questions for vinyl flooring</h2>
      <h4><font color="#DCDCDC">We curate from thousands of questions from customers and online just for you.</font></h4>
      <br>
      <div>
        <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                1. What are the pros and cons of using vinyl flooring?
              </button>
            </h2>
          </div>

          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              <p>
                Pros
                <ul>
                  <li>Moisture resistant</li>
                  <li>Tough and resistant to wear and tear</li>
                  <li>Can be used on all floors, walls and even ceiling</li>
                  <li>Can DIY</li>
                  <li>Cheap to install</li>
                  <li>Low maintenance and easy to clean</li>
                  <li>Hundreds of patterns to choose from</li>
                </ul>
                <br>
                Cons
                <ul>
                  <li>Difficult to remove if glued down</li>
                  <li>Can be punctured with sharp objects</li>
                  <li>Hard to recycle</li>
                  <li>Discolouring when exposed with excessive UV ray</li>
                </ul>
              </p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                2. What is the difference between vinyl flooring versus laminate flooring?
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
              Laminated flooring normally refers to the flooring that is HDF board, clicked together to form wooden flooring lookalike. Vinyl is like the name said is flooring made of vinyl material. Normally in office but it is also used for housing where it looks like the laminated floor above and normally advertised as waterproof flooring.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                3. What are the common problems that will arise on vinyl floorings?
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
              <p>
                <ul>
                  <li>
                    A common problem would be gappings.
                  </li>
                  <li>
                    Other known problems are also air traps or air bubbles.
                  </li>
                </ul>
              </p>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="headingfour">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsefour" aria-expanded="true" aria-controls="collapsefour">
                4. What kind of flooring should I use?  
              </button>
            </h2>
          </div>

          <div id="collapsefour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample">
            <div class="card-body">
              
              <a href="{{ url_for('survey.surveys') }}">Click to take our survey here!</a>
              <!-- <p>It highly depends on the factors as listed below. Do take time to go through each factor and consider the best flooring for your floor. If you’re still unconvinced or you have additional questions not listed in our FAQ, you may contact our hotline during working hours at xxx-xxx xxxx.
              <br>
              What is your budget?
                <ul>
                  <li>We built in a calculator for you to derive the estimated costing for your flooring at your fingertips. When selecting a type of tile, add 10% more to your budget and that will be the total budget required for your flooring installation.</li>
                  <li>Our installation labour is fixed at RM1.50 per sqft. It is also conveniently generated by us using our calculator.</li>
                </ul>
              <br>
              How is the traffic of your floor?
                <ul>
                  <li>If your floor generally has higher traffic such as in retail spaces, you may want to consider darker colours. It is reported that lighter colour vinyl tiles are much easily stained especially on the joints. Type of material will highly be dependent on your budget since the feeling does not vary much. Vinyl flooring is safe to be step on with shoes.
                </li>
              </ul>
              <br>
              Do you have an infant, baby, pets or children at home?
              <ul>
                  <li>Some people are sensitive with the health risk from vinyl tiles that claim to be omitting dangerous amounts of VAC that may pose health problems especially towards children and infants in the long run. In our opinion, due to its properties it is unavoidable to have its fair amount of VAC releasing. However, the amount of VAC being release is not as harmful as others sources may exaggerate. It is known that the air on a street with cars is much harmful as compared to the emission of VAC from vinyl floorings. The other option is to keep your home properly ventilated. Keep your doors or windows open to ensure good air circulation in and out of the building. Air conditioned spaces with a cooler environment will reduce the emission as well however do allow air ventilation from time to time.
                  </li>
              </ul>
              <br>
              <ul>
                  <li>Some people are sensitive with the health risk from vinyl tiles that claim to be omitting dangerous amounts of VAC that may pose health problems especially towards children and infants in the long run. In our opinion, due to its properties it is unavoidable to have its fair amount of VAC releasing. However, the amount of VAC being release is not as harmful as others sources may exaggerate. It is known that the air on a street with cars is much harmful as compared to the emission of VAC from vinyl floorings. The other option is to keep your home properly ventilated. Keep your doors or windows open to ensure good air circulation in and out of the building. Air conditioned spaces with a cooler environment will reduce the emission as well however do allow air ventilation from time to time.
                  </li>
                  <li>Our vinyls are supplied from reputable suppliers in Malaysia. Our distribution products are ensured to be safe and allowed within regulations. However if your concern is still there, you may consider to get it done in tiles.
                  </li>
                  <li>Children or pets at home often may cause a mess by spill or defecation like accidental urination or food spill. We would encourage to not use timber or parquet for your flooring in this matter unless you are able to provide immediate attention to your nuisance as to clean up immediately. Failing to do so may cause rupture or popping of parquet tiles in the long run. Waterproof materials are best suited to be used in this situation. Both vinyl and laminated tiles are built with water proofing attributes. Children toys or animal claws have been reportedly able to pierce vinyl titles but is not common. Most of the vinyl tiles have sharp absorption built in. But it is still something for you to consider.
                  </li>
              </ul>
              <br>
              Do you have elderly folks at home?
              <ul>
                  <li>Most vinyl and laminated tiles have anti slip textures etch into its wood-like surface to avoid elderly of slipping and falling accidents.
                  </li>
                  <li>Tiles are generally colder and may be uncomfortable to the bare feet of some elderly.
                  </li>
              </ul>
              <br>
              Are you planning to DIY?
              <ul>
                  <li>Tiles, parquet and timber flooring are generally much harder to DIY. It also requires heavy machinery to accomplish and may take some skills and experience in tile laying.
                  </li>
                  <li>Laminated flooring also requires heavy machinery to cut through due to its solid thickness.
                  </li>
                  <li>Vinyl however can be cut and detach using only a blade. The thing to watch out for is to wear protective gloves during the shredding as it may accidentally injure your fingers if you’re careless. The only troublesome part for some DIYers is the gluing part. You may opt for the floating series and just lay underlayments to avoid gluing your vinyl floorings.
                  </li>
              </ul>
              <br>
              Do you need to hack the existing floor?
              <ul>
                  <li>Some flooring prior laying requires to be hacked if the surface is uneven or badly damaged.
                  </li>
                  <li>Hacking existing flooring may cost you depending on the type of materials. You may seek our costing FAQ below for more idea on the prices of floor hacking.
                  </li>
                  <li>Vinyl flooring and laminated flooring does not require you to hack the existing floor prior laying as long as you have an even floor. You may just lay the vinyl tiles above existing solid tiles or parquet. For tiles, do consider an underlayment to avoid the gapping of tiles to surface on your vinyl flooring.
                  </li>
              </ul>
              </p> -->
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingfive">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsefive" aria-expanded="true" aria-controls="collapsefive">
                5. Is it easy to DIY for vinyl flooring?
              </button>
            </h2>
          </div>

          <div id="collapsefive" class="collapse" aria-labelledby="headingfive" data-parent="#accordionExample">
            <div class="card-body">
              <p>Vinyl flooring is one of the favourite choice for DIY enthusiast when it comes to flooring systems. It is quick, easy to assemble and does not require heavy machinery upon installation. Thanks to its solid interlocking attributes, the outcome of the installation would also look professionally done. People are often confident to DIY after spending some time studying its processes. If you are interested to DIY yourself, we highly encourage you to do so and watch the following DIY Youtube videos below. Just order the vinyl tiles from us and we will deliver it straight to your site address within 3 working days. You may also purchase other accessories to help you with the installation yourself as well from the link here. It is the most satisfying experience you can ever receive from the outcome. 
              </p>
            </div>
          </div>
        </div>
      </div>
      <h4 class="textpadding">Got more questions? visit our <a href="{{ url_for('page.general') }}">FAQ.</a></h4>
      <hr>

      <style type="text/css">
        .chatbubble {
          padding-top: 70px;
          padding-right: 170px;
          padding-left: 170px;
          padding-bottom: 50px;
          font-family: "Monospace";
        }

        .chatperson {
          padding-right: 30px;
          padding-left: 30px;
          padding-bottom: 10px;
          font-family: "Courier New";
          text-align: justify;
        }
      </style>

      <!-- As seen -->
      <img class="imgasseen" src="{{ url_for('static', filename='images/assets/others/byseen.png') }}">

      <!-- What others are saying about vinyl -->
      <h2 class="bold h2padding">What others are saying about vinyl floorings</h2>
      <h2 class="chatbubble"><i>"I bought everything online and i have to say, I am extremely happy with how incredible of my kitchen transformation! I assembled it all by myself during the weekends and it was quick and easy. You definitely can do it yourself too!"</i></h2>

      <h3 class="bold" align="center"> - Yana D.</h3>
      <!-- <img class="imgasseen" src="{{ url_for('static', filename='images/assets/others/saying.png') }}" style="width: 40%;"> -->

      <div>
        <div class="row">
          <div class="col-sm-4">
            <h4 class="chatperson"><i>"After searching online for a while, we decided to settle on a design most matching to the designer image and just WOW! My husband installed it himself and it looks AMAZING. The tiles arrived to my house nicely without problems. Trusted distributor, do recommend!"</i></h4>
            <h4 class="bold">Karen C.</h4>
            <!-- <img src="{{ url_for('static', filename='images/assets/others/say1.jpg') }}"> -->
            
          </div>
          <div class="col-sm-4">
            <h4 class="chatperson"><i>"I got most of my info from this site since they have answers to all my questions and those i didnt knew. I love their vinyl recommendation feature so that i dont have to talk to any salesman HAHA. Settled on Black Chadwood since my husband loves hitam. Friendly installers."</i></h4>
            <h4 class="bold">Nurdin</h4>
            <!-- <img src="{{ url_for('static', filename='images/assets/others/say2.jpg') }}"> -->
            
          </div>
          <div class="col-sm-4">
            <h4 class="chatperson">"AWESOME!!! Ordered Cherry Oak over the weeked, it arrived just in time on thursday for acclimation for 48 hours. Me and hubby started work during the weekend and we couldnt believe how simple it is to install it! Our relatives are all amaze by our living room transformation!"</h4>
            <h4 class="bold">Jessica</h4>
            <!-- <img src="{{ url_for('static', filename='images/assets/others/say3.jpg') }}"> -->
            
          </div>
        </div>
      </div>
      <br>
      <!-- Comparison here -->
      <h2 class="bold h2padding">Vinyl vs Laminated Comparison</h2>
      <br>
      <div>
        <table class="table">
          <tbody align="center">
            <tr>
              <td><img src="{{ url_for('static', filename='images/assets/others/vinylcomparison.jpg') }}" style="height:200px; width:200px"></td>
              <td><img src="{{ url_for('static', filename='images/assets/others/laminatedcomparison.jpg') }}" style="height:200px; width:200px"></td>
            </tr>
            <tr>
              <td>Vinyl</td>
              <td>Laminated</td>
            </tr>
            <tr>
              <td><li>100% plastic</li></td>
              <td><li>99% wood product</li></td>
            </tr>
            <tr>
              <td><li>Superior resistance to moisture</li></td>
              <td><li>Higher resale value</li></td>
            </tr>
            <tr>
              <td><li>Natural looking</li></td>
              <td><li>Authentic looking</li></td>
            </tr>
            <tr>
              <td><li>Can be used in bathrooms and kitchen</li></td>
              <td><li>Comfortable to walk on</li></td>
            </tr>
          </tbody>
        </table>
      </div>
      <br>

      <!-- benefits -->
      <style type="text/css">
        .h4padding {
          padding-left: 350px;
          padding-right: 150px;
        }
      </style>
      <h2 class="bold h2padding">Advantages with vinyl technologies</h2>
      <img src="{{ url_for('static', filename='images/assets/others/Advantage.png') }}" class="imgasseen" style="width: 70%">

      <!-- Meet the team -->
      <h2 class="bold h2padding">Meet your installers</h2>
      <h4>We are a team of local installers ready to help you transform your flooring</h4>
      <img src="{{ url_for('static', filename='images/assets/others/team.png') }}" class="imgasseen" style="width: 90%">
      
      <hr>
      <!-- Warranty -->
      <div class="container">
        <h2 class="bold h2padding">Goodbye defects and cut throats.</h2>
        <h4><font color="#DCDCDC">Why buy from us?</font></h4>
        <br>
        <img src="{{ url_for('static', filename='images/assets/others/warranties.png') }}" align="left" style="width:20%">
        <br>
        <h4 class="h4padding">We <span class="bold">protect you</span> from cut throats by nasty installers that supplies you with inferior <span><font color="red">toxic</font></span> tile products. We will delivery tiles directly from the manufacturers to your site address. All our tiles comes with a genuine certificate.
          <br>
          <br>

        In case of defects, just snap a photo and send it to us and we will replace a new tile to you no questions ask!</h4>
        <br>
      </div>
      <a class="btn btn-success uploadbutton" role="button" href="{{ url_for('contact.index') }}">Get me protected</a>

      <!-- DIY -->
      <style type="text/css">
        .iframepadding {
          padding-top: 100px;
          padding-bottom: 50px;
        }
      </style>

      <h2 class="h2padding bold">looking to DIY?</h2>
      <br>

      <iframe width="560" height="315" src="https://www.youtube.com/embed/rxAsvy6g13k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <br>

      <h4>We also highly recommend you to read this post that is found on <a href="https://forum.lowyat.net/index.php?s=237a7f6ee54252bbe2ec189838d45b83&showtopic=3858031&hl=vinyl" target="_blank">forum.lowyat.net</a>. It is comprehensive sharing of how to DIY including all the equipment, sources and progress involved.</h4>

      <!-- Review -->

      <!-- Experience -->

      <div align="center">
        <h3 class="textpadding">Confident to start? </h3>
        <a class="btn btn-success uploadbutton" role="button" href="{{ url_for('contact.index') }}">Get a quote</a>
        <h5>or visit our comprehensive <a href="{{ url_for('page.general') }}">FAQ</a> for more info.</h5>
      </div>

  </div>
</div>

</html>
 
{% endblock %}