{% extends 'layouts/base.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}Contact us with your feedback or issues{% endblock %}
{% block meta_description %}Contact our customer service department with any
questions or concerns.{% endblock %}

{% block body %}

<style type="text/css">
  .whatsappbutton {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 10px 200px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
      }
</style>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 well">
      {% call f.form_tag('contact.index') %}
        <legend>We're here to answer your questions</legend>

        {% call f.form_group(form.email, css_class='margin-bottom',
                             placeholder='E-mail address') %}
        {% endcall %}

        {% call f.form_group(form.message, css_class='margin-bottom',
                             placeholder='Decided on a vinyl to install? Need a quote? or simply have a question? The more we know, the easier it will be to help you.',
                             rows='12') %}
        {% endcall %}

        <button type="submit" class="btn btn-primary">Send e-mail</button>
      {% endcall %}
    </div>
  </div>

  <div align="center">
    <h2>Prefer to whatsapp?</h2>
    <h4>Sure, just click on the button below!</h4>
    <a class="btn btn-success whatsappbutton" href="https://api.whatsapp.com/send?phone=60166850069" role="button" target="_blank">Open on my Whatsapp</a>
  </div>
{% endblock %}
