{% extends 'layouts/base.html' %}

{% block title %}Terms of Service{% endblock %}
{% block heading %}<h2>Terms of Service</h2>{% endblock %}

{% block body %}
    <p>
      By using the Snake Eyes ("service"), you are agreeing to be bound by the
      following terms and conditions ("terms of service").
    </p>
    <p>
      Snake Eyes, LLC ("company") reserves the right to update and change these
      terms of service without notice.
    </p>
<!--     <p>
      Violation of any of the terms below may result in the termination of your
      account.
    </p> -->

    <hr/>

    <h3>General terms</h3>
    <p>We are a distributor and an installer for vinyl floorings. All our tiles are supplied by our suppliers and we do not manufacture any brands ourselves.</p>
    <p>
      You will agree to be responsible the following:
      <ul>
        <li>You are 18 and above.</li>
        <li>You will use our tools and services only for personal use and not for commercial use.</li>
        <li>You are responsible for the information you provide to use.</li>
        <li>You will not use our service for any illegal and unlawful purposes.</li>
        <li>You will not try to violate any technological measures placed on our site or bypass, circumvent, avoid, remove, deactivate, descramble, decrypt or otherwise impair any measures installed or used by us to prevent or restrict access to (parts of) our Website, the Website IP (as defined hereafter in clause VII(1) of these T&C’s) or the Content;</li>
        <li>You will not use any software to interfere with our website's operations.</li>
        <li>You are allowed to save any content from our site for your permitted personal use of our Website and services in accordance with these T&C’s you will not use, copy, transmit, deep-link, hyper-link scrape, download, display, duplicate, sell, trade, market, utilise, exploit, publish, distribute, broadcast or reproduce the Website IP or any portion thereof unless you have obtained the prior written approval from us, the relevant Insurer, or the other relevant third parties we work with, whichever is applicable.</li>
      </ul>
    </p>

    <h3>Stock and Delivery</h3>
    <p>We are not able to guarantee the availability of stocks immediately when needed. Do consult us about the stock availability.</p>
    <p>If stock is available, we shall adhere to deliver all stocks within stipulated date or within 3 days upon confirmation of payment to us.</p>

    <h3>Pricing and rates</h3>
    <p>Rates and prices from different brands and materials are provided by the suppliers respectively.</p>
    <p>
      All pricing displayed on this site is based on a 3 month average and does not represent the current market rate.
    </p>
    <p>
      We are not liable to adhere to the prices as displayed on this platform.
    </p>
    <p>
      However, we shall be obligated to adhere to the rates of our quotations only.
    </p>
    <p>We are not able to quote for prices from brands we do not distribute on our platform.</p>
    <!-- Services -->
    <h3>Tools and services terms</h3>
    <p>
      All service and tools offered on this site is free for all personal use and not for other commercial use for other companies except our own. We mainly make money only from installation works and commission from distributing our tiles for our supplier.
    </p>
    <p>
      All educational materials and text on the site are for personal educational use only. You may download and keep files only for personal use.
    </p>
    <p>
      All materials matched and generated in this site is generated through algorithms and not through an entity or person. We shall not be held liable for any mismatch, and accuracy between colours from the images as displayed and matched here and as delivered.
    </p>
    <p>
      All information displayed here is based on our experience and information and found online. We do not guarantee 100% accuracy of the information and shall not be held liable for any misinformed information. Always do additional homework to verify. We however are confident with our information as displayed on our site.
    </p>
    <p>
      Your use of the Service is at your sole risk. The service is provided on
      an "as is" and "as available" basis.
    </p>

    <h3>Rates and Fees</h3>
    <p>All fees shall be paid in full prior stock delivery. We only make commissions from distributing our tiles. It is our agreement with the tile supplier to be paid in full.</p>
    <p>All installation works fees are also be required to be paid in full prior starting installation works.</p>
    <p>No retention sum shall be held prior flooring completion</p>
    <p>You shall not backcharge us any fees and </p>
    <p>
      All fees are exclusive of all taxes, levies, or duties imposed by taxing
      authorities, and you shall be responsible for payment of all such taxes,
      levies, or duties, excluding only United States (federal or state) taxes.
    </p>
    <p>Our fees are not inclusive of delivery if total amount is less than RM4,000. We charge RM50 every delivery of less than RM4,000. We will charge RM0.1 per squarefeet if more than RM4,000.</p>

    <h3>Warranties and refunds</h3>
    <p>Refunds are processed according to our fair refund policy.</p>
    <p>We will exchange any faulty tiles for you not questions asked provided the following criterias are met:</p>
    <ul>
      <li>Vinyl tiles are bought from our site.</li>
      <li>An invoice by us is presented to us upon claimable.</li>
      <li>Materials are bought within the last 7 days.</li>
      <li>Tiles have yet to be installed.</li>
      <li>Photographs of the defectual area and a full photograph of the front and back of the tiles.</li>
      <li>All information about the tiles necessary for us to procure a replacement.</li>
      <li>Tiles are seemed to be of fair-use and well taken cared of prior installation.</li>
    </ul>
    <p>All our tiles comes with a certification from our company to certify that tiles are genuine and came directly from the suppliers.</p>
    <p>By claiming of warranty, we will help the consumer to claim the warranty of the tiles resulting in any failed specification that the tile claims but not able to provide.</p>
    
    <hr/>
    
    <h3>Modifications to the service and prices</h3>
    <p>
      The company reserves the right at any time and from time to time to modify
      or discontinue, temporarily or permanently, any part of the service with
      or without notice.
    </p>
    <p>
      Prices of all services are subject to change according to daily market rate. No notice will be provided at any time. To get a quotation for the latest market rate.
    </p>
    <p>
      The company shall not be liable to you or to any third party for any
      modification, price change, suspension or discontinuance of the service.
    </p>
        
    <hr/>
    
    <h3>Copyright and content ownership</h3>
    <p>
      All content posted on the service must comply with Malaysian copyright law.
    </p>
    <p>
      We claim no intellectual property rights over the material you provide
      to the service. All materials uploaded remain yours.
    </p>
    <p>
      The company does not pre-screen content, but reserves the right (but not
      the obligation) in their sole discretion to refuse or remove any content
      that is available via the service.
    </p>
    <p>
      The look and feel of the service is copyright&copy; Snake Eyes, LLC.
      All rights reserved. You may not duplicate, copy, or reuse any portion
      of the HTML, CSS, JavaScript, or visual design elements without express
      written permission from the company.
    </p>
        
    <hr/>
    
    <h3>Technical and other general terms</h3>
    <p>Technical support is only provided via email, whatsapp, phonecall and site visits otherwise requested.</p>
    <p>
      You understand that the company uses third party vendors and hosting
      partners to provide the necessary hardware, software, networking,
      storage, and related technology required to run the service.
    </p>
    <p>You must not modify, adapt or hack the service.</p>
    <p>
      You must not modify another website so as to falsely imply that it is
      associated with the service or the company.
    </p>
    <p>
      You agree not to reproduce, duplicate, copy, sell, resell or exploit any
      portion of the service, use of the service, or access to the service
      without the express written permission by the company.
    </p>
    <p>
      We may, but have no obligation to, remove content and accounts that we
      determine in our sole discretion are unlawful or violates any party's
      intellectual property or these terms of service.
    </p>
    <p>
      Verbal, physical, written or other abuse (including threats of abuse or
      retribution) of any service customer, company employee or officer will
      result in immediate account termination.
    </p>
    <p>
      You understand that the technical processing and transmission of the
      service, including your content, may be transferred unencrypted and
      involve (a) transmissions over various networks; and (b) changes to conform
      and adapt to technical requirements of connecting networks or devices.
    </p>
    <p>
      The company does not warrant that (i) the service will meet your
      specific requirements, (ii) the service will be uninterrupted, timely,
      secure, or error-free, (iii) the results that may be obtained from the
      use of the service will be accurate or reliable, (iv) the quality of any
      products, services, information, or other material purchased or obtained
      by you through the service will meet your expectations, and (v) any
      errors in the service will be corrected.
    </p>
    <p>
      You expressly understand and agree that the company shall not be liable
      for any direct, indirect, incidental, special, consequential or exemplary
      damages, including but not limited to, damages for loss of profits,
      goodwill, use, data or other intangible losses (even if the company has
      been advised of the possibility of such damages), resulting from: (i) the
      use or the inability to use the service; (ii) the cost of procurement
      of substitute goods and services resulting from any goods, data, information
      or services purchased or obtained or messages received or transactions
      entered into through or from the service; (iii) unauthorized access to
      or alteration of your transmissions or data; (iv) statements or conduct of
      any third party on the service; (v) or any other matter relating to the
      service.
    </p>
    <p>
      The failure of the company to exercise or enforce any right or provision
      of the terms of service shall not constitute a waiver of such right or
      provision. The terms of service constitutes the entire agreement
      between you and the company and govern your use of the service, super-ceding
      any prior agreements between you and the company (including, but not
      limited to, any prior versions of the terms of service).
    </p>
    <p>
      Questions about the terms of service should be sent to
      <a href="#">########support@local.host</a>.
    </p>
    <p>
      Any new features that augment or enhance the current service, including
      the release of new tools and resources, shall be subject to the terms
      of service. Continued use of the service after any such changes shall
      constitute your consent to such changes.
    </p>

    <h3>Law and dispute resolution</h3>
    <p>These T&C’s make up the entire agreement between you and us and shall supersede any and all prior verbal or written agreements in relation to our Website or the use of the services provided by us through our Website.</p>
    <p>
      In the case where we are not able to resolve any conflicts arrising from the usage of our services that ends up in dispute, our T&C will be exclusively governed by the laws of Malaysia we shall both cooperate and submit all claims and evidence of dispute to the exclusive jurisdiction of the courts of Malaysia.
    </p>

    <small class="text-muted">Last updated April 1st 2019</small>
{% endblock %}
